@import url('css/styles.css');
@import url('css/filters.css');
@import url('css/dashboard.css');
@import url('css/modal.css');
@import url('css/profile.css');
@import url('css/avaliacao.css');
@import url('css/cards.css');
@import url('css/responsividade.css');